# csa-atrophy pipeline parameters

# process_data.sh
# ---------------
# Number of transformations to apply to each subject
n_transfo: 30
# Rescaling factor to apply to each subject. Note: value '1' should always be present.
rescaling:
  - 1
  - 0.99
  - 0.98
  - 0.97
  - 0.96
  - 0.95
  - 0.94
  - 0.93

# Contrasts on which to perform the analysis. Available values are: 't1', 't2'
contrast: "t2"
# Resampling resolution in mm. Native resolutions for the spine-generic project are 1mm isotropic for T1w images and 0.8mm isotropic for T2w images. 
interp_t1: "0.5x0.5x0.5"
interp_t2: "0.5x0.5x0.5"

# csa_atrophy_stat.py
# -------------------
stats:
  sample_size:
    atrophy_sample: 7.7
    conf: 0.95
    power: 0.8
fig:
  sample_size:
    atrophy_sample: 7.7
    conf: 1.96
    power:
    - 0.84
    - 1.282


# affine_transfo.py
# -----------------
transfo:
  bounds:
    angle_bound: 5
    shift_bound: 2.5
